.auth-form{
    background-color: rgb(238, 234, 234);
    max-width: 500px;
    margin: 50px auto;
    padding: 15px 10px;
}

.auth-form > form > p {
    font-weight: 600;
}

.form-control{
    width: 50%;
    padding: 10px 15px;
    margin: 3px auto;
}

.form-control > input {
    width: 100%;
    outline: none;
    padding: 3px;
    font-size: medium;
    font-weight: 600;
    border: 2px solid white;
}

.auth{
    width: 100%;
    color: white !important;
    background-color: rgb(72, 218, 72) !important;
}

.auth:hover{
    background-color: rgb(18, 170, 18) !important;
}

.auth-handler{
    width: 100%;
    color: white !important;
    background-color: #333 !important;
}

.auth-handler:hover{
    background-color: #111 !important;
}
